doctype html
html 
  head
    block head
      meta(charset="UTF-8")
      meta(name="viewport" content="width=device-width, initial-scale=1.0")
      meta(http-equiv="X-UA-Compatible" content="IE=edge")
      title Graphin' Tunes | #{title}
      link(rel="stylesheet" href="/css/style.css")
      link(rel="preconnect" href="https://fonts.googleapis.com")
      link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
      link(href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&family=Yomogi&display=swap" rel="stylesheet")
      link(rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico")

      meta(name="title" property="og:title" content="Graphin' Tunes")
      meta(property="og:type" content="Amazing Interactive Charts based on your music tastes!")
      meta(name="image" property="og:image" content="https://i.ibb.co/wZk2yqF/img2.png")
      meta(name="author" content="Chirag Rao")

  //- Header
  include _header


  //- Content
  block content

  //- SCRIPTS
  script(src= "/js/bundle.js")

      
