extends base

block content
  main.main
    .error
      .error__title
        h2.heading-secondary.heading-secondary--error Uh oh! Something went wrong!   
        h2.error__emoji 😢 🤯
      .error__msg= message
      a.error__msg(href = "https://www.spotify.com/logout", target="_blank", rel="noopener noreferrer") <b>Logout!</b>